/* ! Genral Css ! */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2196f3;
  --secColor: #1f1a24;
  --white: #fff;
}

body {
  font-family: "Mukta", sans-serif;
  background-color: var(--secColor);
}
/* ! Main Css Variables ! */
.btns {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 22;
  background-color: rgba(33, 149, 243, 0.9);
}

.btns span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: var(--white);
  font-size: 2rem;
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.info-container {
  position: relative;
  width: 1100px;
  margin: 20px auto 0;
  background-color: var(--white);
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid var(--main-color);
}

.info-container .name {
  float: left;
  width: 50%;
  font-weight: 600;
}

.info-container .countDown {
  position: absolute;
  top: 30%;
  left: 47.5%;
  font-weight: 600;
}

.info-container .tries {
  width: 50%;
  float: right;
  text-align: right;
  font-weight: 600;
}

.memory-container {
  width: 1100px;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 20px 10px;
}

.memory-container.no-clicking {
  pointer-events: none;
}

.memory-container i {
  font-size: 140px;
  height: 140px;
  margin-top: 30px;
}

.memory-container .game-block {
  height: 200px;
  flex: 1 0 200px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.memory-container .game-block.stop {
  pointer-events: none;
}

.memory-container .game-block .front {
  background-color: #333;
  line-height: 200px;
}

.memory-container .game-block .front::before {
  content: "?";
  color: var(--white);
  font-size: 140px;
  font-weight: bold;
}

.memory-container .game-block .back {
  background-color: var(--white);
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.memory-container .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid var(--main-color);
}

.memory-container .game-block.is-flipped,
.memory-container .game-block.has-match {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.footer {
  padding: 50px;
  border-top: 3px solid var(--main-color);
  background-color: var(--secColor);
  text-align: center;
  font-size: 30px;
  color: #fff;
}
