/* ! Contact Css ! */
.socail {
  position: fixed;
  top: 46%;
  right: 0;
  background-color: var(--secColor);
  cursor: pointer;
  border-left: 3px solid var(--white);
  border-top: 3px solid var(--white);
  border-bottom: 3px solid var(--white);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: translatex(0px);
  -webkit-transform: translatex(0px);
  -moz-transform: translatex(0px);
  -ms-transform: translatex(0px);
  -o-transform: translatex(0px);
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}

.socail li {
  list-style: none;
  padding: 15px 20px;
  text-align: center;
}

.socail li:not(:last-child) {
  border-bottom: 3px solid var(--white);
}

.socail li a {
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

a.fa-brands.fa-facebook-f:hover {
  color: #1877f2;
}

a.fa-brands.fa-github:hover {
  color: #6e5494;
}

a.fa-brands.fa-linkedin-in:hover {
  color: #0a66c2;
}

a.fa-solid.fa-envelope:hover {
  color: #f6b128;
}
